body{
  padding-top:70px;
  padding-bottom:70px;
}

.search{
  margin:20px 0px;
  height:100px;
}

.table_responsive{
  height:300px;
}

.edit{
  padding-top:30px;
}
.edit p{
  font-size:20px;
}

.format{
  font-size:20px;
}

.button{
  font-size:20px;
}

footer{
  font-family:"serif";
}

.fixed-bottom{
  padding-top:10px;
}

.footer-logo p {
  float: left;
  padding-left:20px;
  font-size:20px;
}

.footer_myname {
  float: right;
  padding-right: 20px;
}

.footer_myname p {
  float:left;
  font-size:20px;
}
